// Diese Ressourcendatei lässt sich nur durch Voranstellen von
// # include "<lang>.inc" übersetzen! Das macht das Makefile.
// Auch kümmert es sich um die passende Codeseite (Win16).

#include <windows.h>

#ifdef WIN32
#define DLGFONT "MS Shell Dlg"
// "MS Shell Dlg 2" („breitgelatschte“ 2K/XP-Schrift) passt nicht zum Gerätemanager!
//   Sie wird eher beim Explorer (Startmenü, Icon-Titel usw) verwendet.
// Beim 32bit-Ressourcencompiler ist „\0"“ (Null am Stringende) stets wirkungslos.
//  Das Makefile generiert die Zwischendatei in UTF-16.
LANGUAGE I002
#else
# include <ver.h>
# define DS_3DLOOK	0x0004
# define BS_FLAT	0x8000
# define ES_NUMBER	0x2000
# define DS_SHELLFONT	0x0048
# define DS_CONTEXTHELP	0x2000
# define DLGFONT	"Helv"
#endif
#define IDC_STATIC	-1

#ifndef S10013
# define S10013 "ms"
#endif

100 DIALOG 0,0,254,210
STYLE DS_MODALFRAME|WS_POPUP|DS_3DLOOK|DS_SHELLFONT
CAPTION		S10000
FONT 8,DLGFONT
{
 ICON		100,IDC_STATIC,12,8,20,20
 CTEXT		"",20,6,28,34,8,SS_NOPREFIX
 LTEXT		S10001,IDC_STATIC,56,8,82,8
 COMBOBOX	100,142,6,100,100,CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP
 LTEXT		S10002,IDC_STATIC,56,26,82,8
 COMBOBOX	102,142,24,100,100,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
 GROUPBOX	S10003,IDC_STATIC,8,38,238,76
 CONTROL	S10004,10,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,16,50,224,10
 LTEXT		S10005,IDC_STATIC,28,62,212,10,SS_NOPREFIX
 CONTROL	S10006,17,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,34,74,206,10
 CONTROL	S10007,11,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,16,86,224,10
 LTEXT		S10008,IDC_STATIC,28,98,212,10,SS_NOPREFIX
 GROUPBOX	S10009,IDC_STATIC,8,118,238,88
 CONTROL	S10010,12,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,16,130,224,10
 LTEXT		S10011,IDC_STATIC,28,140,212,10,SS_NOPREFIX
 RTEXT		S10012,IDC_STATIC,28,154,132,8
 EDITTEXT	101,164,152,50,14,ES_CENTER|ES_AUTOHSCROLL|ES_NUMBER
 LTEXT		S10013,IDC_STATIC,218,154,10,8
 CONTROL	S10014,13,"Button",BS_AUTO3STATE|WS_TABSTOP,16,172,160,10
 PUSHBUTTON	S10015,103,176,170,64,14
 LTEXT		S10016,IDC_STATIC,28,184,212,20,SS_NOPREFIX
}

101 DIALOG 0,0,254,210
STYLE DS_MODALFRAME|WS_POPUP|DS_3DLOOK|DS_SHELLFONT
CAPTION		S10100
FONT 8,DLGFONT
{
 GROUPBOX	S10101,IDC_STATIC,2,3,250,111
 PUSHBUTTON	S10102,116,170,16,76,14
 RTEXT		S10103,IDC_STATIC,6,18,88,8
 EDITTEXT	100,98,16,40,14,ES_CENTER|ES_AUTOHSCROLL|ES_READONLY
 RTEXT		S10104,IDC_STATIC,6,34,88,8
 EDITTEXT	101,98,32,40,14,ES_CENTER|ES_AUTOHSCROLL|ES_READONLY
 RTEXT		S10105,IDC_STATIC,6,52,88,8
 EDITTEXT	102,98,50,40,14,ES_CENTER|ES_AUTOHSCROLL|ES_READONLY
 LTEXT		S10106,IDC_STATIC,142,44,108,18,SS_NOPREFIX
 RTEXT		S10107,IDC_STATIC,6,68,88,8
 EDITTEXT	103,98,66,40,14,ES_CENTER|ES_AUTOHSCROLL|ES_READONLY
 LTEXT		S10108,IDC_STATIC,142,66,108,18,SS_NOPREFIX
 CTEXT		S10109,IDC_STATIC,6,86,242,8,SS_NOPREFIX
 RTEXT		S10110,IDC_STATIC,6,100,88,8,WS_DISABLED
 CONTROL	"SPP",108,"Button",WS_DISABLED|BS_AUTOCHECKBOX|WS_TABSTOP,102,100,30,10
 CONTROL	"EPP (+4)",109,"Button",WS_DISABLED|BS_AUTOCHECKBOX|WS_TABSTOP,140,100,44,10
 CONTROL	"ECP (+400h)",110,"Button",WS_DISABLED|BS_AUTOCHECKBOX|WS_TABSTOP,192,100,56,10
 GROUPBOX	S10114,IDC_STATIC,2,116,250,48
 PUSHBUTTON	S10115,117,170,128,76,14
 RTEXT		S10103,IDC_STATIC,6,132,88,8
 EDITTEXT	104,98,130,40,14,ES_CENTER|ES_AUTOHSCROLL|ES_READONLY
 RTEXT		S10104,IDC_STATIC,6,148,88,8
 EDITTEXT	105,98,146,40,14,ES_CENTER|ES_AUTOHSCROLL|ES_READONLY
 RTEXT		S10116,IDC_STATIC,142,148,60,8
 EDITTEXT	106,206,146,40,14,ES_CENTER|ES_AUTOHSCROLL|ES_READONLY
 PUSHBUTTON	S10117,111,8,166,110,12,BS_FLAT
 PUSHBUTTON	S10118,112,136,166,110,12,BS_FLAT
 CTEXT		S10119,IDC_STATIC,2,180,250,26
}

102 DIALOG 254,210,198,58
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU|DS_CONTEXTHELP|DS_3DLOOK|DS_SHELLFONT
CAPTION		S10200
FONT 8,DLGFONT
{
 CONTROL	S10201,20,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,8,6,132,10
 CONTROL	S10202,21,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,8,20,132,10
 CONTROL	S10203,22,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,8,34,132,10
 DEFPUSHBUTTON	S10204,IDOK,142,6,50,14
 PUSHBUTTON	S10205,IDCANCEL,142,24,50,14
}

#ifdef WIN32
// Letzte Seite für den Hardware-Assistenten (CoInstaller; nur Win32)
103 DIALOG 0,0,316,142
STYLE DS_MODALFRAME|WS_POPUP|DS_3DLOOK|DS_SHELLFONT
FONT 8,DLGFONT
{
 LTEXT		S10001,IDC_STATIC,46,8,84,8
 COMBOBOX	100,132,6,100,100,CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP
 ICON		0,10,20,22,20,20
 LTEXT		S10302,IDC_STATIC,46,24,252,22,SS_NOPREFIX
 GROUPBOX	"",IDC_STATIC,8,46,300,60
 ICON		100,IDC_STATIC,20,66,20,20
 LTEXT		S10002,IDC_STATIC,46,60,84,8
 COMBOBOX	102,132,58,100,100,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
 LTEXT		S10304,IDC_STATIC,46,76,252,22,SS_LEFT|SS_NOPREFIX|WS_GROUP
 ICON		0,11,20,112,20,20
 LTEXT		S10305,IDC_STATIC,46,114,252,22,SS_LEFT|SS_NOPREFIX|WS_GROUP
}
#endif

104 DIALOG 0,210,228,238
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU|DS_CONTEXTHELP|DS_3DLOOK|DS_SHELLFONT
CAPTION		S10400
FONT 8,DLGFONT
{
 GROUPBOX	S10401,IDC_STATIC,6,2,216,164,WS_GROUP
 LTEXT		S10402,99,10,12,210,18,SS_NOPREFIX
 CONTROL	S10403,100,"Button",BS_AUTOCHECKBOX|WS_GROUP|WS_TABSTOP,10,33,208,10
 CONTROL	S10404,101,"Button",BS_AUTO3STATE|WS_TABSTOP,10,58,208,10
 CONTROL	S10405,102,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,90,208,10
 CONTROL	S10406,103,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,10,117,208,10
 LTEXT		S10407,IDC_STATIC,22,45,196,8,SS_NOPREFIX
 LTEXT		S10408,IDC_STATIC,22,68,196,16,SS_NOPREFIX
 LTEXT		S10409,IDC_STATIC,22,100,196,8,SS_NOPREFIX
 LTEXT		S10410,IDC_STATIC,22,127,196,32,SS_NOPREFIX
 PUSHBUTTON	S10411,3,8,172,78,14,WS_GROUP
 PUSHBUTTON	S10412,4,102,172,120,14
 GROUPBOX	S10413,IDC_STATIC,6,190,104,26,WS_GROUP
 EDITTEXT	110,10,201,94,12,ES_CENTER|ES_AUTOHSCROLL|WS_DISABLED
 GROUPBOX	S10414,IDC_STATIC,118,190,104,26,WS_GROUP
 EDITTEXT	111,122,201,94,12,ES_CENTER|ES_AUTOHSCROLL|WS_DISABLED
 DEFPUSHBUTTON	S10204,IDOK,60,220,50,14,WS_GROUP
 PUSHBUTTON	S10205,IDCANCEL,119,220,50,14
}

105 DIALOG 0,0,254,210
STYLE DS_MODALFRAME|WS_POPUP|DS_3DLOOK|DS_SHELLFONT
CAPTION		S10500
FONT 8,DLGFONT
{
 CONTROL	S10501,16,"BUTTON",BS_GROUPBOX|WS_GROUP,8,2,240,26
 CONTROL	"",176,"EDIT",ES_CENTER|ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP,14,12,18,12
 CONTROL	S10502,117,"BUTTON",BS_PUSHBUTTON|WS_TABSTOP,36,12,38,12
 CONTROL	"",160,"EDIT",ES_CENTER|ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP,224,12,18,12
 CONTROL	"",10,"#32772",WS_DISABLED,54,28,146,40
 CONTROL	S10503,17,"BUTTON",BS_GROUPBOX|WS_GROUP,8,68,240,26
 CONTROL	"",177,"EDIT",ES_CENTER|ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP,14,78,18,12
 CONTROL	"",161,"EDIT",ES_CENTER|ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP,224,78,18,12
 CONTROL	S10504,18,"BUTTON",BS_GROUPBOX|WS_GROUP,8,94,240,26
 CONTROL	"",178,"EDIT",ES_CENTER|ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP,14,104,18,12
 CONTROL	"",162,"EDIT",ES_CENTER|ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP,224,104,18,12
 CONTROL	"",168,"EDIT",ES_CENTER|ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP,14,126,18,12
 CONTROL	"cfgA (+400h)",118,"STATIC",SS_LEFT|WS_GROUP,36,128,50,8
 CONTROL	S10506,131,"BUTTON",BS_PUSHBUTTON|WS_GROUP|WS_TABSTOP,38,126,64,14
 CONTROL	S10507,122,"BUTTON",BS_AUTORADIOBUTTON|WS_GROUP,104,124,50,10
 CONTROL	S10508,123,"BUTTON",BS_AUTORADIOBUTTON,104,134,50,10
 CONTROL	S10509,130,"BUTTON",BS_PUSHBUTTON|WS_GROUP|WS_TABSTOP,154,126,64,14
 CONTROL	"cfgB (+401h)",119,"STATIC",SS_RIGHT|WS_GROUP,170,128,50,8
 CONTROL	"",169,"EDIT",ES_CENTER|ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP,224,126,18,12
 CONTROL	"&ECR (+402h)",-1,"BUTTON",BS_GROUPBOX|WS_GROUP,8,142,240,28
 CONTROL	"",186,"EDIT",ES_CENTER|ES_AUTOHSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP,14,152,18,12
 CONTROL	"",102,"COMBOBOX",CBS_DROPDOWNLIST|CBS_AUTOHSCROLL|WS_VSCROLL|WS_TABSTOP,38,152,76,102
 CONTROL	S10512,120,"BUTTON",BS_AUTORADIOBUTTON|WS_DISABLED,152,148,54,10
 CONTROL	S10513,121,"BUTTON",BS_AUTORADIOBUTTON|WS_DISABLED,152,158,54,10
 CONTROL	"",170,"EDIT",ES_CENTER|ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP,224,152,18,12
 CONTROL	S10514,19,"BUTTON",BS_GROUPBOX|WS_GROUP,8,172,240,36
}


STRINGTABLE 	// Emulation+Statistik
{
 16 S16
 17 S17
 18 S18
 19 S19
 20 S20
 21 S21
 22 S22
 23 S23
 24 S24
 25 S25
}

STRINGTABLE 	// Firmware-Update
{
 32 S32
 33 S33
 34 S34
 35 S35
 36 S36
 37 S37
 38 S38
 39 S39
 40 S40
 41 S41
}

STRINGTABLE 	// Monitor
{
 48 S48
 49 S49
 50 S50
 51 S51
 52 S52
}

#ifdef WIN32
LANGUAGE 0,0
#endif

100 ICON "prop.ico"

#ifdef WIN32
2   24   "prop.manifest"
#endif

1 VERSIONINFO
 FILEVERSION I008
 PRODUCTVERSION I009
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
#ifdef WIN32
 FILEOS 0x40004L
 FILETYPE 0x2L
#else
 FILEOS VOS__WINDOWS16
 FILETYPE VFT_APP
#endif
 FILESUBTYPE 0x0L
{
 BLOCK "StringFileInfo"
 {
  BLOCK S000
// Microsofts RC.EXE hängt hier automatisch Nullen dran! (Vermutlich an alle Strings, leider.)
  {
   VALUE "CompanyName",		"haftmann#software"
   VALUE "FileDescription",	S003
   VALUE "FileVersion",		S008
   VALUE "LegalCopyright",	S005
   VALUE "InternalName",	"usb2lpt"
   VALUE "OriginalFilename",	"usb2lpt.dll"
   VALUE "ProductName",		S006
   VALUE "ProductVersion",	S009
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation",I000
 }
}

